@font-face {
    font-family: Gotham;
    src: url(../images/Fonte/gotham/GothamMedium_1.ttf);
}

*{
    font-family: Gotham;
}

:root{
    --branco : #ffffff;
    --verdeEscuro : #1db954;
    --verdeClaro : #1ed760;
    --preto : #191414;
    --cinza : #363636;
    --cinzaClaro: #686767;
}

body{
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(161,77,77,1) 100%);
}

.nav-link, .active .navbar-link.show{
    color: var(--branco);  
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--branco);
}

.active{
    border-bottom: var(--verdeClaro) 3px solid;
}

.navbar-brand img{
    width: 40px;
}

.card img, .card{
    border: none;
    border-radius: 0%;
}

#playerMusica{
    height: auto;
    background-color: var(--cinza);
}

#botoesMusica img{
    height: 32px;
}

#progressoDaMusica{
    background-color: var(--verdeClaro);
}

.progressoDaMusicaComeco{
    width: 0%;
    transition: 180s;
}

.progressoDaMusicaCompleto{
    width: 100%;
    transition: 180s;
}

#progressoDaMusicaBarraTotal{
    width: 60%;
    height: 3px;
    background-color: var(--cinzaClaro);
}

/* menu lateral */
#menuLateral{
    width: 300px;
    background-color: #191414da;
}

.input-group input,.input-group span{
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 0%; 
}

input::placeholder{
    color: var(--branco)!important;
}