@font-face {
    font-family: Gotham;
    src: url(../images/Fonte/gotham/GothamMedium_1.ttf);
}

*{
    font-family: Gotham;
}

:root{
    --branco : #ffffff;
    --verdeEscuro : #1db954;
    --verdeClaro : #1ed760;
    --preto : #191414;
}

body{
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(161,77,77,1) 100%);
}

.nav-link, .active .navbar-link.show{
    color: var(--branco);  
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--branco);
}

.active{
    border-bottom: var(--verdeClaro) 3px solid;
}

.navbar-brand img{
    width: 40px;
}

.card img, .card{
    border: none;
    border-radius: 0%;
}